TELOXIDE_TOKEN=0123456789:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
RUST_LOG=info

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hotdoggrowbotdb
POSTGRES_USER=hotdoggrowbot
POSTGRES_PASSWORD=hdgb

# DATABASE_URL is required to run a plain binary executable file for dev environment
# this line is ignored and built from the components above in `docker-compose.yml`
DATABASE_URL=postgres://hotdoggrowbot:hdgb@localhost:5432/hotdoggrowbotdb
DATABASE_MAX_CONNECTIONS=30

HELP_ADMIN_WEBSITE=hotdogonrh.com
HELP_ADMIN_CHAT=HOTDOGonRH
HELP_GIT_REPO=https://github.com/DickGrowerBot-Official-Forks/HotdogGrowBot

CHATS_MERGING_ENABLED=true
PVP_CHECK_ACCEPTOR_LENGTH=false

#DISABLE_CMD_STATS=true

GROWTH_MIN=-3
GROWTH_MAX=12
GROW_SHRINK_RATIO=0.5
GROWTH_DOD_BONUS_MAX=5
NEWCOMERS_GRACE_DAYS=7
TOP_LIMIT=10
INACTIVITY_DAYS=7
PVP_DEFAULT_BET=1

# How to select winners of DoD? Possible options:
# 1) RANDOM - completely random
# 2) EXCLUSION - exclude TOP-N% (10% if ratio is 0.1)
# 3) WEIGHTS - the shorter your hotdog is the more chances you have
DOD_SELECTION_MODE=EXCLUSION
DOD_RICH_EXCLUSION_RATIO=0.1

# to enable Webhook Mode, set to a correct URL, proxied by a reverse proxy server
#WEBHOOK_URL=https://your.domain/HotdogGrowBot/webhook
